*{
   padding:0;
   margin: 0;
   box-sizing: border-box;
}

.navbar{
   padding: 10px;
   font-size: 20px;
   .navbar-brand{
      text-transform: uppercase;
      font-size: 30px;

   }
   &:hover{
      transition: 1s;
      padding: 20px;
      border-bottom: 1px solid rgba(0, 128, 0, 0.788);
      background-color: rgba(0, 128, 0, 0.215);
      #contador{
         transition: 1s;
         z-index: 1;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         background-color: red;
         color: white;
         text-align: center;
         font-size: 15px;
         position: absolute;
         top: 30px;
         right: 25px;
      }
   }
   #contador{
      z-index: 1;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: red;
      color: white;
      text-align: center;
      font-size: 15px;
      position: absolute;
      top: 20px;
      right: 15px;
   }

}


.qtycentrada{
   text-align: center;
}
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
 }
#myBtn{
   font-size: 15px;
   padding: 5px;
   margin-left: 10px;
   &:hover{
      color: green;
      border-bottom: 4px solid black;
      cursor: pointer;
   }

   }

.card-title{
   font-size: 15px;
}

 .modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   .modalTitulo{
      text-align: center;
   }
 }
 .container{
    text-align: center;
 }

 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }
.main__title{
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 100px;
   margin-top: 100px;
}
#items{
   font-size: 15px;
}

.categorias{
   margin-bottom: 50px;
}
.futbolNacional{
   background-image: url(/img/Diego.jpg);
   background-size: cover;
   height: 500px;
   opacity: 70%;
   &:hover{
         background-color: black;
         color: green;
         border: 5px solid black;
         transform: scale(0.99);
         opacity: 100%;

      }


   .futbolNacional__btn{
      margin-top: 80%;
      background-color: rgba(255, 255, 255, 0.756);
      color: green;
      text-transform: uppercase;
      font-size: 25px;
      padding: 10px;
      &:hover{
         background-color: black;
         color: white;
      }

   }

}
.basket{
   background-image: url(/img/Manu.jpg);
   background-size: cover;
   height: 500px;
   opacity: 70%;
   &:hover{
      background-color: black;
      color: green;
      border: 5px solid black;
      transform: scale(0.99);
      opacity: 100%;

   }


.basket__btn{
   margin-top: 80%;
   background-color: rgba(255, 255, 255, 0.756);
   color: green;
   text-transform: uppercase;
   font-size: 25px;
   padding: 10px;

   &:hover{
      background-color: black;
      color: white;

   }

}

}
.rugby{
   background-image: url(/img/LosPumas.jpg);
   background-size: cover;
   height: 500px;
   opacity: 70%;
   &:hover{
      background-color: black;
      color: green;
      border: 5px solid black;
      transform: scale(0.99);
      opacity: 100%;

   }


.rugby__btn{
   margin-top: 80%;
   background-color: rgba(255, 255, 255, 0.756);
   color: green;
   text-transform: uppercase;
   font-size: 25px;
   padding: 10px;
   &:hover{
      background-color: black;
      color: white;
   }

}

}
.btnHome{
   margin-bottom: 100px;
}
.card-body{
   .card-title{
      text-align: center;
   }
   .card-text{
      text-align: center;
   }
   .addCartBtn{
      display: flex;
      justify-content: center;
   }
}
#qty{
   margin-bottom: 10px;
}


//FOOTER STYLE//
.footer__style {

   bottom: 0;
   width: 100%;
   background-color:  rgba(0, 128, 0, 0.809);
   color: white;
   text-align: center;
   padding: 40px;
   text-transform: uppercase;
}

#resumenCompra{
   margin-top: 20px;
   margin-bottom: 100px;
   #cuadroResumen{
      text-align: center;
      padding: 5px;
      width: 500px;
      background-color: rgba(128, 128, 128, 0.461);
      .resumen__titulo{
         font-weight: bold;
         text-transform: uppercase;
         font-size: 20px;
         color: green;

      }
   }
   #detallePago{
      width: 500px;
      text-transform: uppercase;
   }
   .resumenTitulo{
      text-align: center;
   }
   .resumen__aviso{
      text-align: right;
      font-size: 10px;
   }

   .correo__titulo{
      display: flex;
      justify-content: left;
   }
   .form-control{
      margin-bottom: 10px;
   }
   .datosPersonales{
      margin-top: 40px;

   }
   .datosPersonales__titulo{
      text-align: left;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-transform: uppercase;
      margin-bottom: 25px;
   }
   .domicilio__titulo{
      text-align: left;
      margin-top: 20px;
      margin-bottom: 10px;
   }
   .siguiente{
      display: flex;
      justify-content: left;
      margin-top: 25px;
      margin-bottom: 50px;
      text-align: center;
   }

}
.errorFormulario{
   color: red;
   text-align: left;
   font-size: 10px;
}

#tarjetaOk{
   margin-top: 10px;
}
