* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  padding: 10px;
  font-size: 20px;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 30px;
}

.navbar:hover {
  -webkit-transition: 1s;
  transition: 1s;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 128, 0, 0.788);
  background-color: rgba(0, 128, 0, 0.215);
}

.qtycentrada {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /*    left: 0;
   top: 0; */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#myBtn {
  /* background-color: rgba(0, 128, 0, 0.556); */
  font-size: 20px;
  /*   text-transform: uppercase; */
  padding: 5px;
  margin-left: 10px;
}

#myBtn:hover {
  color: green;
  border-bottom: 4px solid black;
  cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal-content .modalTitulo {
  text-align: center;
}

.container {
  text-align: center;
}

#carritoLleno {
  visibility: hidden;
}

#carritoVacio {
  visibility: visible;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.main__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.categorias {
  margin-bottom: 50px;
}

.futbolNacional {
  background-image: url(/img/Diego.jpg);
  background-size: cover;
  height: 500px;
  opacity: 70%;
}

.futbolNacional:hover {
  background-color: black;
  color: green;
  border: 5px solid black;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  opacity: 100%;
}

.futbolNacional .futbolNacional__btn {
  margin-top: 80%;
  background-color: rgba(255, 255, 255, 0.756);
  color: green;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
}

.futbolNacional .futbolNacional__btn:hover {
  background-color: black;
  color: white;
}

.basket {
  background-image: url(/img/Manu.jpg);
  background-size: cover;
  height: 500px;
  opacity: 70%;
}

.basket:hover {
  background-color: black;
  color: green;
  border: 5px solid black;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  opacity: 100%;
}

.basket .basket__btn {
  margin-top: 80%;
  background-color: rgba(255, 255, 255, 0.756);
  color: green;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
}

.basket .basket__btn:hover {
  background-color: black;
  color: white;
}

.rugby {
  background-image: url(/img/LosPumas.jpg);
  background-size: cover;
  height: 500px;
  opacity: 70%;
}

.rugby:hover {
  background-color: black;
  color: green;
  border: 5px solid black;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  opacity: 100%;
}

.rugby .rugby__btn {
  margin-top: 80%;
  background-color: rgba(255, 255, 255, 0.756);
  color: green;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
}

.rugby .rugby__btn:hover {
  background-color: black;
  color: white;
}

.btnHome {
  margin-bottom: 100px;
}

.card-body .card-title {
  text-align: center;
}

.card-body .card-text {
  text-align: center;
}

.card-body .addCartBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#qty {
  margin-bottom: 10px;
}

.footer__style {
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 128, 0, 0.809);
  color: white;
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
}
/*# sourceMappingURL=estilos.css.map */